/documents
/__pycache__
/api/__pycache__
/api/model/__pycache__
/chatbot/__pycache__
chatbot/rag_milvus.db
Pipfile.lock
Pipfile
.api_rag_milvus.db.lock
Miniconda3-latest-MacOSX-x86_64.sh
/api/models/__pycache__
api/models/__pycache__/chatbot.cpython-312.pyc
api/controllers/__pycache__/database_controller.cpython-312.pyc
api/controllers/__pycache__/user_controller.cpython-312.pyc
api/models/__pycache__/chatbot.cpython-312.pyc
api/controllers/__pycache__/chatbot_controller.cpython-312.pyc
databases/.DS_Store
api/controllers/__pycache__/chatbot_controller.cpython-312.pyc
/.deepeval
.env
