/documents
/__pycache__
/api/__pycache__
/api/model/__pycache__
/chatbot/__pycache__
chatbot/rag_milvus.db
Pipfile.lock
Pipfile
.api_rag_milvus.db.lock
Miniconda3-latest-MacOSX-x86_64.sh
/api/models/__pycache__
api/models/__pycache__/chatbot.cpython-312.pyc
